.container {
  padding: 40px;
  display: flex;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 80px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.itemTitle {
  font-size: 24px;
}
.footer {
  display: flex;
  flex-direction: column;
}
.reportBar {
  border: 1px solid var(--very-light-grey);
  border-radius: 5px;
  height: 50px;
  background-color: #fcfcfc;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.report {
  flex: 1;
  align-items: 'center';
}
.thumbIcon {
  height: 18px;
  width: 20px;
}
.navigationButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}
.label {
  font-size: 13px;
  color: var(--light-gray);
  background-color: var(--white);
}
.mainContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bookmark {
  border: 1px solid #dddddd;
  padding: 6px;
}
