.card {
  composes: card from '../CourseCards.module.css';
}
.cardMedia {
  composes: cardMedia from '../CourseCards.module.css';
}
.cardDesc {
  composes: cardDesc from '../CourseCards.module.css';
}
.cardLink {
  composes: cardLink from '../CourseCards.module.css';
}
.cardContent {
  composes: cardContent from '../CourseCards.module.css';
}
.cardTitle {
  composes: cardTitle from '../CourseCards.module.css';
}
.metaContainer {
  composes: metaContainer from '../CourseCards.module.css';
}

.metaLeftBlock {
  composes: metaLeftBlock from '../CourseCards.module.css';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
}
.progressBar {
  flex-grow: 1;
  margin-right: 10px;
}

.metaRightBlock {
  composes: metaRightBlock from '../CourseCards.module.css';
}

.atRisk {
  color: var(--rosy-pink);
}
