.container {
  padding: 30px 0;
}

.fileContainer {
  margin: 10px 0;
  padding: 20px 0;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--very-light-grey);
}

.fileTitleGrid {
  flex: 1;
}
.fileTitle {
  overflow: ellipsis;
}

.iconContainer {
  position: relative;
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.downloadAll {
  font-weight: 600;
  cursor: pointer;
}
